<!-- <body>
    <header>
      <header>
        <h1>Weather App</h1>
        <div class="search-box">
          <form action="./weather" method="post">
          <input type="text" placeholder="Enter city" name="location" />
          <button type="submit">Search</button>
          </form>
        </div>
      </header>
    </header>

    <main>
      <div class="weather-card">
        <div class="location">
          <h2>City, Country</h2>
          <p>{{time}}</p>
        </div>
        <div class="temperature">
          <img src="sun-icon.png" alt="Weather Icon" />
          <h1>{{temp}}</h1>
        </div>
        <div class="description">
          <p>Clear sky</p>
        </div>
      </div>

      <div class="forecast">
        <h2>7-Day Forecast</h2>
        <div class="forecast-day">
          <p>Day 1</p>
          <img src="sun-icon.png" alt="Weather Icon" />
          <p>28°C</p>
        </div>
        <div class="forecast-day">
          <p>Day 2</p>
          <img src="cloud-icon.png" alt="Weather Icon" />
          <p>22°C</p>
        </div>
        Repeat for other days -->
      <!-- </div>
    </main>
  </body> -->